@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    color: #FFF;
    background-image: linear-gradient(to bottom, #000000, #179b90);
}

.conteneur-jeu {
    max-width: 1024px;
    margin: 50px auto;
    border: 5px solid #FFF;
    padding: 20px;
    background-color: #1b1922;
    box-shadow: 0 0 30px #ff00ff, 0 0 10px #ff00ff; 

    /*
    background-color: #002db3;
    background-color: #ffff00;
    background-color: #00ff00;
    background-color: #00ffff;
    background-color: #b30000;
    background-color: #ffaa00;
    background-color: #ff00ff;
    background-color: #5500ff;
    */
    

}

.entete-jeu {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    background-color: #0cadf8;
    border: 4px solid #FFF;
    border-radius: 50px;
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #94d3ff; 
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:active {
    transform: scale(0.95);
    background-color: #45a049;
}

button:hover {
    background-color: #45a049;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 0 20px #00ff00; 
}

#numeroVague, #scoreJoueur,#nbEnvahisseurs {
    padding: 15px 30px;
    background-color: #211654;
    border: 4px solid #FFF;
    
    color: #b0c9ff;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #6b1c90;
    outline: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.generalVolumen{
    padding: 1px 100px;
    background-color: #211654;
    text-align: center;
    display: table; 
    margin: auto; 
    border: 4px solid #FFF;
    
    color: #b0c9ff;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #6b1c90;
    outline: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

#controlVolumen {
    width: 200px;
    height: 10px;
    -webkit-appearance: none;
    background: rgb(255, 255, 255);
    outline: none;
}

#controlVolumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #a088ff;
    border-radius: 10%;
    cursor: pointer;
}

#controlVolumen::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

#scoreJoueur:hover, #numeroVague:hover {
    background-color: #9000b8;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
}

.zone-jeu {
    width: 100%;
    background-image: url(../images/background.gif);
    background-size: cover;
    box-shadow: 0 0 20px #ff00ff; 
}


.game-over-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over-text, .retry-text, .score-text {
    font-family: 'Press Start 2P', cursive;
    /*text-shadow: 0 0 2px #ff00ff, 0 0 20px #ff00ff;*/
    background: -webkit-linear-gradient(#ff00ff, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-over-text {
    font-size: 30px;
    margin-bottom: 20px;
    animation: flashing 0.5s infinite alternate;
}

.retry-text {
    font-size: 20px;
    background: -webkit-linear-gradient(#ff00ff, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    animation: flashing 1s infinite alternate;
}

.score-text {
    font-size: 30px;

    background: -webkit-linear-gradient(#ff00ff, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

@keyframes flashing {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

