@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    color: #FFF;
    background-image: linear-gradient(to bottom, #000000, #179b90);
}

.conteneur-jeu {
    max-width: 1024px;
    margin: 50px auto;
    border: 5px solid #FFF;
    padding: 20px;
    background-color: #1b1922;
    box-shadow: 0 0 30px #ff00ff, 0 0 10px #ff00ff;

    /*
    background-color: #002db3;
    background-color: #ffff00;
    background-color: #00ff00;
    background-color: #00ffff;
    background-color: #b30000;
    background-color: #ffaa00;
    background-color: #ff00ff;
    background-color: #5500ff;
    */


}

.entete-jeu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    background-color: #4CAF50;
    border: 4px solid #FFF;
    border-radius: 50px;
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #00ff00;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:active {
    transform: scale(0.95);
    background-color: #45a049;
}

button:hover {
    background-color: #45a049;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 0 20px #00ff00;
}

#numeroVague,
#scoreJoueur,
#nbEnvahisseurs {
    padding: 15px 30px;
    background-color: #4CAF50;
    border: 4px solid #FFF;

    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #00ff00;
    outline: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

#scoreJoueur:hover,
#numeroVague:hover,
#nbEnvahisseurs:hover

/*MODS, j'ai rajouté le nombre d'envahisseurs, ça me gossait que ce n'était pas comme les autres */
    {
    background-color: #45a049;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
}

.zone-jeu {
    width: 100%;
    background-color: #070707;
    box-shadow: 0 0 20px #ff00ff;
}


.game-over-overlay {
    position: fixed; /*mods*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over-text,
.retry-text,
.score-text {
    font-family: 'Press Start 2P', cursive;
    /*text-shadow: 0 0 2px #ff00ff, 0 0 20px #ff00ff;*/
    background: -webkit-linear-gradient(#ff00ff, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-over-text {
    font-size: 30px;
    margin-bottom: 20px;
    animation: flashing 0.5s infinite alternate;
}

.retry-text {
    font-size: 20px;
    background: -webkit-linear-gradient(#ff00ff, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    animation: flashing 1s infinite alternate;
}

.score-text {
    font-size: 30px;

    background: -webkit-linear-gradient(#ff00ff, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

@keyframes flashing {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}


/*Mes modifications*/

/*Écran Démarrer*/

#ecranAccueuil {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    left: 0%;
    top: 0%;
    background-repeat: repeat;
    background-image: url(../images/back2.png);
    transition: 2s;
}

#backgroundDemarrer {
    background-color: #ffa60077;
    font-size: 100px;
    position: absolute;
    text-align: center;
    color:#d6d6d6;
    border: solid #01c4ff8f 10px;
    margin: 6% 10%;
    animation: flashing 1.5s infinite alternate;
    transition: 2s;
}

#backgroundDemarrer:hover {
    margin: 6% 5%;
    animation: none;
}

#demarrer {
    padding: 20px;
    text-shadow: 10px 10px;
    background: -webkit-linear-gradient(#01c4ff, #ffa600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}





/*CONTRÔLES*/
#aide {
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    position: fixed;
    left: 1%;
    top: 2%;
}

#texteAide {
    display: block;
    padding: 5px;
    opacity: 0.8;
}

#grilleAide {
    display: none;
    grid-template-columns: 150px 150px 150px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(71, 71, 71, 0.842);
    border: 1px solid rgba(21, 255, 0, 0.8);
    padding: 15px;
    font-size: 9px;
    text-align: center;
}

#touchesAide {
    font-size: 25px;
}

#toucheEspace {
    font-size: 12px;
}



/*MAGASIN*/

#magasin {
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    position: fixed;
    right: 1%;
    bottom: 2%;
}

#boutonMagasin {
    display: block;
    padding: 5px;
    opacity: 0.8;
    margin-bottom: 5px;

}

#titreMagasin {
    text-align: center;
    padding: 15px 30px;
    margin: 50px 15%;
    background-color: #4CAF50;
    border: 4px solid #FFF;
    border-radius: 50px;
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #00ff00;
    outline: none;
}

#magasinOverlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000c0;
    top: 0%;
    left: 0%;
}

#fermerMagasin {
    padding: 5px;
    opacity: 0.8;
    position: fixed;
    right: 1%;
    bottom: 8%;
}

#argentJoueur {

    padding: 5px;
    background-color: #4CAF50;
    border: 4px solid #FFF;
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #00ff00;
    outline: none;
    display: block;
    opacity: 0.8;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

#argentJoueur:hover {
    background-color: #45a049;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
}

#dollar {
    vertical-align: baseline;
}


#magasinChoix {
    grid-template-columns: 100px 100px;
    margin: 5% 15%;
}

.achat {
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(71, 71, 71, 0.842);
    border: 1px solid rgba(21, 255, 0, 0.8);
    margin: 15px;
    padding: 15px;
    font-size: 30px;
    text-align: center;

}

#retourMagasin {
    display: none;
    padding: 5px;
    opacity: 0.8;
    position: fixed;
    right: 1%;
    bottom: 8%;
}

#vitesseDeTir,
#vies,
#skin,
#theme {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: repeat;
    background-color: #000000c0;
    top: 0%;
    left: 0%;
    padding: 20% 0%;
}

.descriptionAchat {
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(71, 71, 71, 0.842);
    border: 1px solid rgba(21, 255, 0, 0.8);
    margin: 15px 30%;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.6;
    position: inline;
    top: 20%;

}

/*VITESSE DE TIR*/

.boutonAcheter {
    margin: 15px 43%;
    position: inline;
    top: 50%;
}

/*VIES SUPPLEMENTAIRES*/

#viesJoueur{
    position:fixed;
    right: 1%;
    top: 2%;
    padding: 5px;
    background-color: #4CAF50;
    border: 4px solid #FFF;
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 15px #00ff00;
    outline: none;
    display: block;
    opacity: 0.8;
    transition: transform 0.2s ease, background-color 0.3s ease;
}


#viesJoueur:hover {
    background-color: #45a049;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
}

/*SKINS*/

/*THEMES*/

.noel {
    max-width: 1024px;
    margin: 50px auto;
    border: 5px solid #FFF;
    padding: 20px;
    background-color: #20b90c;
    box-shadow: 0 0 30px #ff0000, 0 0 10px #ff0000;
}

.ete {
    max-width: 1024px;
    margin: 50px auto;
    border: 5px solid #FFF;
    padding: 20px;
    background-color: #fffb02;
    box-shadow: 0 0 30px #ff4800, 0 0 10px #ff4800;
}

.hiver {
    max-width: 1024px;
    margin: 50px auto;
    border: 5px solid #FFF;
    padding: 20px;
    background-color: #0b0147;
    box-shadow: 0 0 30px #005374, 0 0 10px #005374;
}

.automne {
    max-width: 1024px;
    margin: 50px auto;
    border: 5px solid #FFF;
    padding: 20px;
    background-color: #9c5300;
    box-shadow: 0 0 30px #4b0004, 0 0 10px #4b0004;
}